/*
======
Footer
======
*/


#footer {
	@include content-padding;
	padding-bottom: 0;
	@media screen and (min-width: $med){
		padding-bottom: $vert-padding;
	}
	.form-wrapper {
		@media screen and (min-width: $med){
			display: inline-block;
			width: 50%;
			vertical-align: middle;
		}
	}
	.footer-social {
		text-align: center;	
		margin-left: 0;
		li {
			display: inline-block;
		}
		a {
			padding: 0.8em 0.5em;
			display: inline-block;
			color: $grey-lt-text;
			font-size: 1.3em;
			&:hover {
				color: $sub-primary;
			}
		}
		@media screen and (min-width: $med){
			display: inline-block;
			width: 49%;
			vertical-align: bottom;
			text-align: right;
			a {
				padding-bottom: 0;
			}
		}
	}
	
}