body {

    #contact {
        background-color: $grey-md;
        height: 100%;
        position: relative;
        @include content;
        padding-top: $vert-padding;
        padding-bottom: $vert-padding;
        padding-right: 14px;
        padding-left: 14px;

        @media screen and (min-width: $small){
            padding-top: 6em;
            padding-bottom: 4em;
            padding-right: 5%;
            padding-left: 5%;
        }
        @media screen and (min-width: $med){ 
            padding-top: 8em;
            padding-bottom: 6em;
        }

        a {
        }
        .social-link {
            width: 100%;
            display: inline-block;
            @include aktivgrotesk;
            font-weight: 100;
            text-align: center;
            font-size: 2.5em;
            color: $grey;
            @include transition(all 300ms ease-in-out);
            
            &:hover {
                color: $gold;
            }
            &:nth-of-type(n+3){
                padding-top: 0.2em;
            }

            @media screen and (min-width: $small)  {
                width: initial;
                font-size: 1.8em;
                // margin: .5em .2em;
                padding-top: 0;
                &.icon {
                    visibility: hidden;
                }
            }
        }
        .contact-wrapper {
            @media screen and (min-width: $small)  {
                width: 100%;
                text-align: center;
            }
        }
        .email-text {
            display: none;
            font-size: 2.1em;
            font-size: 6vw;
            @include aktivgrotesk;
            @media screen and (min-width: $small)  {
                display: inline-block;
                width: 100%;
            }
            @media screen and (min-width: $med)  {
                font-size: 3em;
                font-size: 6vw;
            }
            @media screen and (min-width: $max-width){
                font-size: 4em;
            }   
        }
        .email {
            color: $gold;
            @media screen and (min-width: $small)  {
                display: none;
            }
        }
    }
}