 #header-section{
 	background-color: $primary;
 	padding: 2.5em $horz-padding;
 	position: relative;
 	@include content;
	&:after {
		content: '';
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background: url('data:image/svg+xml;charset=UTF-8,<svg width="1280" height="678" viewBox="0 0 1280 678" xmlns="http://www.w3.org/2000/svg"><desc>Banner background image</desc><g fill="none" fill-rule="evenodd"><path d="M0 0v246.705l166.799-40.337L0 0z" fill="#CB4343"/><path d="M0 0h219.114l-52.315 206.368L0 0z" fill="#D64646"/><path d="M219.114 0l-52.315 206.368L432.376 0H219.114z" fill="#E24A4A"/><path d="M166.799 206.368L432.376 0l56.667 244.945-322.244-38.577z" fill="#EF4F4F"/><path d="M432.376 0l56.667 244.945L718.79 0H432.376z" fill="#EF4F4F"/><path d="M489.043 244.945L718.79 0l107.893 174.356-337.64 70.589z" fill="#EF5757"/><path d="M718.79 0l107.893 174.356 273.087 90.003L718.79 0z" fill="#D64646"/><path d="M718.79 0h209.74l171.24 264.359L718.79 0z" fill="#F06060"/><path d="M928.53 0l171.24 264.359 180.23-92.58L928.53 0z" fill="#F16969"/><path d="M928.53 0H1280v171.779L928.53 0z" fill="#CB4343"/><path d="M0 246.705v193.653l166.799-233.99L0 246.705z" fill="#F16969"/><path d="M0 440.358l166.799-233.99 141.267 239.128L0 440.358z" fill="#F06060"/><path d="M166.799 206.368l141.267 239.128 180.977-200.551-322.244-38.577z" fill="#EF5757"/><path d="M308.066 445.496l180.977-200.551L470.68 362.95l-162.614 82.546z" fill="#D64646"/><path d="M489.043 244.945L470.68 362.95l251.37 34.42-233.007-152.425z" fill="#D64646"/><path d="M489.043 244.945l337.64-70.589L722.05 397.37 489.043 244.945z" fill="#E24A4A"/><path d="M826.683 174.356L722.05 397.37l392.04 38.466-287.407-261.48z" fill="#EF5757"/><path d="M826.683 174.356l273.087 90.003 14.32 171.477-287.407-261.48z" fill="#E24A4A"/><path d="M1099.77 264.359l14.32 171.477L1280 382.34l-180.23-117.981z" fill="#EF5757"/><path d="M1099.77 264.359l180.23-92.58V382.34l-180.23-117.981z" fill="#CB4343"/><path d="M0 440.358V678l308.066-232.504L0 440.358z" fill="#F16969"/><path d="M0 678l308.066-232.504L334.141 678H0z" fill="#CB4343"/><path d="M308.066 445.496L334.141 678h159.247L308.066 445.496z" fill="#F16969"/><path d="M308.066 445.496L470.68 362.95 493.388 678 308.066 445.496z" fill="#F06060"/><path d="M470.68 362.95L493.388 678 722.05 397.37l-251.37-34.42z" fill="#E24A4A"/><path d="M493.388 678L722.05 397.37 774.978 678h-281.59z" fill="#EF4F4F"/><path d="M722.05 397.37L774.978 678l339.112-242.164-392.04-38.466z" fill="#F06060"/><path d="M774.978 678l339.112-242.164L1066.83 678H774.978z" fill="#CB4343"/><path d="M1114.09 435.836L1066.83 678 1280 382.34l-165.91 53.496zM1066.83 678L1280 382.34V678h-213.17z" fill="#F16969"/></g></svg>');
	    opacity: 0.7;
	    z-index: 1;
	}
	h1,a {
		z-index: 2;
    	position: relative;
	}
	.button {
		background-color: $white;
		border-color: $white;
		color: $red;
		&:hover {
			color: $white;
			border-color: $white;
			background-color: $red;
		}
	}
 	@media screen and (min-width: $small){
 		padding-right: 25%;
 	}
 	@media screen and (min-width: $med){
 		padding: 6.5em $horz-padding-desktop;
 	}
 }