@import "compass";

@font-face{
font-family:"aktivgrotesk";
src:font-url("aktivgrotesk-light-webfont.eot?#iefix");
src:inline-font-files("aktivgrotesk-light-webfont.woff", "woff"),
    font-url("aktivgrotesk-light-webfont.ttf") format("truetype");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"aktivgrotesk";
src:font-url("aktivgrotesk-bold-webfont.eot?#iefix");
src:inline-font-files("aktivgrotesk-bold-webfont.woff", "woff"),
    font-url("aktivgrotesk-bold-webfont.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}
@font-face{
font-family:"aktivgrotesk";
src:font-url("aktivgrotesk-regular-webfont.eot?#iefix");
src:inline-font-files("aktivgrotesk-regular-webfont.woff", "woff"),
    font-url("aktivgrotesk-regular-webfont.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"FontAwesome";
src:font-url("fontawesome-webfont.eot?#iefix");
src:inline-font-files("fontawesome-webfont.woff", "woff"),
    font-url("fontawesome-webfont.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}